################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/shopAPI/FileContentIndex/ac192406-5936-4fea-ad4c-b2e3fab15d65.vsidx
