<div class="container">
    <div class="row d-flex align-items-center justify-content-center">
        <form class="col-md-7 col-lg-5" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <h2 class="text-center mb-3">Register</h2>
            <app-text-input formControlName="displayName" [label]="'Display Name'"></app-text-input>
            <app-text-input formControlName="email" [label]="'Email Address'"></app-text-input>
            <app-text-input formControlName="password" [label]="'Password'" [type]="'password'"></app-text-input>

            <ul class="text-danger" *ngIf="errors.length>0">
                <li *ngFor="let error of errors">{{error}}</li>
            </ul>
            <button [disabled]="registerForm.invalid" type="submit" class="btn btn-primary form-control my-2">Submit</button>
        </form>
    </div>
    <div class="col-4">

    </div>
</div>