<div
    class="d-flex flex-column flex-md-row align-items-center justify-content-between p-3 px-md-4 bg-white border-bottom shadow-sm">
    <img src="assets/images/logo.png" alt="" srcset="" style="max-height: 70px;" class="logo">
    <nav class="my-2 my-md-0 mr-md-3" style="font-size: larger;">
        <a [routerLink]="['/']" class="p-2 text-dark" routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}">Home</a>
        <a class="p-2 text-dark" routerLink="/shop" routerLinkActive="active">Shop</a>
        <a class="p-2 text-dark" routerLink="/test-error" routerLinkActive="active">Errors</a>
    </nav>
    <div class="d-flex align-items-center">
        <a class="position-relative mx-2" routerLink="/basket" routerLinkActive="active">
            <i class="fa fa-shopping-cart fa-2x mr-5 text-dark">
                <div *ngIf="(basket$ | async) as basket" class="cart-no">{{basket.items.length}}</div>
            </i>
        </a>
        <ng-container *ngIf="(currentUser$ |async) === null">
            <a class="btn btn-outline-primary mx-2" routerLink="/account/login">Login</a>
            <a class="btn btn-outline-primary mr-3" routerLink="/account/register">Sign up</a>
        </ng-container>
        <ng-container *ngIf="(currentUser$ |async)">
            <div class="dropdown ml-3 mr-5" dropdown>
                <a class="dropdown-toggle" style="cursor: pointer;" dropdownToggle>
                    <strong>Welcome {{(currentUser$ | async)!.displayName}}</strong>
                </a>
                <div class="dropdown-menu dropdown-menu-right px-3" style="cursor: pointer;" *dropdownMenu>
                    <a routerLink="/basket" class="drop-down-item d-block py-1">
                        <i class="fa fa-shopping-cart mr-3"></i> View Basket
                    </a>
                    <a routerLink="/orders" class="drop-down-item d-block py-1">
                        <i class="fa fa-history mr-3"></i> View Orders
                    </a>
                    <a (click)="logout()" class="drop-down-item d-block py-1">
                        <i  class="fa fa-sign-out mr-3"></i> Logout
                    </a>
                </div>
            </div>
        </ng-container>

    </div>
</div>