.cart-no{
    position: absolute;
    min-height: 20px;
    min-width: 20px;
    border-radius: 50%;
    font-size: 0.7em;
    background: blue;
    color: white;
    text-align: center;
    top: -5px;
    right: -2px;
}
a{
    text-decoration: none;
    color: #343a40;

    &.active{
        color: orange!important;
    }
}

.logo{
    cursor: pointer;

    &.focus{
        outline: none;
    }
}